@define-color bg       #000000;
@define-color text     #d8dee9;
@define-color accent   #00ffff;
@define-color muted    #888888;
@define-color inactive #666666;
@define-color error    #e06c75;

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @bg;
    color: @text;
}

#workspaces button {
    padding: 0 4px;
    background: transparent;
    color: @inactive;
}

#workspaces button.focused {
    color: @accent;
    box-shadow: inset 0 -2px @accent;
    border-radius: 0;
}

#window {
    padding: 0 10px;
    color: @muted;
}

#tray,
#network,
#temperature,
#cpu,
#memory,
#disk,
#backlight,
#pulseaudio,
#clock {
    padding: 0 10px;
    background: transparent;
    color: @text;
}

#network.wifi {
    color: @accent;
}

#network.disconnected {
    color: @error;
}

#pulseaudio.muted {
    color: @muted;
}

#cpu.critical,
#memory.critical
{
    color: @error; 
}


/* DISABLE HOVER EFFECTS :) */

button {
    border: none;
    border-radius: 0;

}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}
